

<div  class="row flex-lg-row align-items-center jumbotron clearfix g-5 mb-4 mt-15 shadow border-bottom" style="margin-top: 20px; padding-top: 0px;">
  
  <!-- <h1 class="h90" style="padding:10px; text-align: left;"> SP-ONG-info 10/sept/223:   ADDHESSION MASSIVE SUR TOUTE L'ETTENDUE DU PAYS  </h1> -->
  
  <h1 class="text-start infoheader border-bottom" style="margin-top: 10px;"> Example1: A, B, C  </h1>
  
  
  <div class="col-12 col-lg-6">
    <img
      src="/img/blue.png"
      width="607"
      height="510"
      class="d-block mx-lg-auto img-fluid"
      loading="lazy"
      alt="SP-ONG"
    />
  </div>

  <div class="col-12 col-lg-6">
    <img
      src="/img/logo3.png"
      width="607"
      height="510"
      class="d-block mx-lg-auto img-fluid"
      loading="lazy"
      alt="SP-ONG"
    />
    
  </div>
  <div class="col-12 col-lg-6">
    <img
      src="/img/splogo.png"
      width="607"
      height="510"
      class="d-block mx-lg-auto img-fluid"
      loading="lazy"
      alt="SP-ONG"
    />
  </div>
</div>




<div  class="row flex-lg-row align-items-center jumbotron clearfix g-5 mb-4 mt-15 shadow border-bottom" style="margin-top: 20px; padding-top: 0px;">
  
  <!-- <h1 class="h90" style="padding:10px; text-align: left;"> SP-ONG-info 10/sept/223:   ADDHESSION MASSIVE SUR TOUTE L'ETTENDUE DU PAYS  </h1> -->
  
  <h1 class="text-start infoheader border-bottom" style="margin-top: 10px;"> Example2: A, B, C, D  </h1>
  
  
  <div class="col-12 col-lg-6">
    <img
      src="/img/logo2.png"
      width="607"
      height="510"
      class="d-block mx-lg-auto img-fluid"
      loading="lazy"
      alt="SP-ONG"
    />
  </div>

  <div class="col-12 col-lg-6">
    <img
      src="/img/logo4.png"
      width="607"
      height="510"
      class="d-block mx-lg-auto img-fluid"
      loading="lazy"
      alt="SP-ONG"
    />
    
  </div>

  <div class="col-12 col-lg-6">
    <img
      src="/img/logov2.png"
      width="607"
      height="510"
      class="d-block mx-lg-auto img-fluid"
      loading="lazy"
      alt="SP-ONG"
    />
    
  </div>
</div>




<div
  class="row flex-lg-row align-items-center jumbotron clearfix g-5 mb-4 shadow border-bottom" style="padding-top: 0px;"
>

<h1 class="text-start infoheader border-bottom" style="margin-top: 10px">Example 4: AI modification limitée </h1>

  <div class="col-12 col-lg-6">
    <img
      src="/img/logo.png"
      width="607"
      height="510"
      class="d-block mx-lg-auto img-fluid"
      loading="lazy"
      alt="SP-ONG"
    />
  </div>

  
</div>







<section class="text-center">
  <h1 class="infoheader text-align:center">Votre reve! notre realisation</h1>
  <img
    src="/img/logo.png"
    class="d-block mx-auto mb-4 img-fluid"
    alt="Publish your recipe for FREE today"
    width="300"
    height="250"s
    loading="lazy"
  />
  <img
    src="/img/logo.png"
    class="d-block mx-auto mb-4 img-fluid"
    alt="Develop your web with Matabishi Ntamako"
    width="80"
    height="30"
    loading="lazy"
  />
</section>



