


<div class="row flex-lg-row-reverse jumbotronSP-ONG align-items-center g-5 py-4 mb-4 shadow border-bottom" style="margin: 0px;">
  <div class="col-12 col-lg-6">
    <img src="/img/Logov2.png" alt=" Honorable Grégoire Mirindi " style="padding-bottom: 15px; width: 90%;">
  </div>

  <div class="col-12 col-lg-6" style="margin-top: 0px;">
    <h1 class="text-start">
      SECOURS PLUS....
    </h1>
    <p class="text-start">
      Bonjour chers collègues, 
      </p>

      <p class="text-start">
        
Veuillez trouver le lien de pré-production de l'application Web de SP, comprenant quelques exemples de logos.
        </p>

        
        <p class="text-start">
          
  De cette façon, nous pouvons décider ensemble en même temps de la mise en page, des couleurs et de l'expérience utilisateur sur mobile et ordinateur portable. 
          </p>
        <p class="text-start">
          
          Ne créer pas encore un compte pour le moment en utilisant le formulaire d'inscription presente, car il n'est pas encore connecté à la base de données. 
          </p>
      
      <P class="mainmessage">
        <h1>Enregistrez-vous aujourd'hui pour devenir l'un de membres actif de ......</h1>
    </p>

    <div class="d-grid gap-2 d-md-flex p-10 justify-content-md-start">
      <!-- <a href="/login" class="btn btn-primary btn-dark btn-lg px-4 me-md-2"
        >Ce que disent les membres</a> -->

      <a href="/api/users/register" class="btn bg-dark text-warning me-md-2"
        > Enregistrez-vous pour devenir  membres et beneficier a plus </a
      >
    </div>
  </div>
</div>

<!-- Categories Start -->
<section class="row flex-lg-row jumbotronSP-ONG text-center g-4 py-4 mb-4 shadow-lg border-bottom" style="margin-top:5px; ">
  <h1 style="padding-left: 10px; margin-bottom: 15px; text-align: center;">Small size  </h1>
  <!-- <p style="margin-top: 0px">
     <br />

    
  </p> -->
</section>

<div class="row row-cols-2 row-cols-lg-6 g-2 g-lg-3 jumbotronSP-ONG shadow-lg border-bottom" style="margin-top:0px">
  <a href="down" class="col text-center category__link">
      
    <div class="category__img shadow">
      <img  src="/img/logo4.png"  width="100" height="100" alt="SP-ONG" loading="lazy"  />
    </div>

    <div class="pt-1">Message categorie5</div>
  </a>
  <a href="down" class="col text-center category__link">
   

    <div class="category__img shadow">
      <img  src="/img/logov2.png"  width="100" height="100" alt="SP-ONG" loading="lazy"  />
    </div>
    <div class="pt-1">
      Message categorie4
    </div>
  </a>

  <a href="down" class="col text-center category__link">
    
    <div class="category__img shadow">
      <img  src="/img/splogo.png"  width="100" height="100" alt="SP-ONG" loading="lazy"  />
    </div>
    <div class="pt-1">
      Message categorie3
    </div>
  </a>

  <a href="down" class="col text-center category__link">
   
    <div class="category__img shadow">
      <img  src="/img/logo2.png"  width="100" height="100" alt="SP-ONG" loading="lazy"  />
    </div>
    <div class="pt-1">
      Message categorie2
    </div>
  </a>

  <a href="down" class="col text-center category__link">
    
    <div class="category__img shadow">
      <img  src="/img/logo.png"  width="100" height="100" alt="SP-ONG" loading="lazy"  />
    </div>
    <div class="pt-1">Message categorie1</div>
  </a>

  <a href="/down" class="col text-center category__link">
    <div class="category__img shadow">
      <img  src="/img/blue.png"  width="100" height="100" alt="Toutes les info" loading="lazy"  />
    </div>
    <div class="pt-1">Liste De tous nos Publications</div>
  </a>
</div>
<!-- Categories End -->

<!-- Latest Start -->

<!-- Latest End -->


<br />



<section class="text-center jumbotronSP-ONG shadow-lg border-bottom">
  <h1 style="padding-left: 10px; margin-bottom: 15px; text-align: center;">À propos de nous</h1>
  <p>
    Au sein de SP-ONG, nous sommes bien plus qu'une simple entité ...... <br />

    
  </p>


  
</section>