
<!DOCTYPE html>
<html>
<head>
    <title>Nouveau membres</title>
</head>
<body>
    <h1>Welcome, <%= userName %>!</h1>
    <p>Merci d'avoir rejoint notre communauté.</p>
    
    

    <!-- Display the status message if it exists -->
    <!-- <% if (typeof session !== 'undefined' && session.message) { %>
        <p><%= session.message %></p>
    <% } %> -->

    <!-- Display the access token if it exists -->
    <!-- <% if (typeof session !== 'undefined' && session.accessToken) { %>
        <p>Access Token: <%= session.accessToken %></p>
    <% } %> -->

    <!-- Your other content goes here -->
</body>
</html>
