<!-- views/register.ejs -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Register</title>
  </head>
  <body>
    <h1>Enregistrez-vous</h1>
    <form action="/api/users/register" method="POST">
      <label for="name">Nom:</label>
      <input type="text" id="name" name="name" required />
      <br />
      <label for="email">Email:</label>
      <input type="email" id="email" name="email" required />
      <br />
      <label for="password">Password:</label>
      <input type="password" id="password" name="password" required />
      <br />
      <label for="confirm_password">Confirmer le Password:</label>
      <input
        type="password"
        id="confirm_password"
        name="confirm_password"
        required
      />
      <br />
      <button type="submit">Register</button>
      <div class="text-center" style="margin-top: 15px;">
        <p>
          Si vous avez déjà un compte, connectez-vous <a href="/api/users/login">ici</a>.
        </p>
      </div>
    </form>
  </body>
</html>
